@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #000000;
  --maintColorLight: #343434;
  --secondaryColor: #0083c4;
  --textColor: #eee;
}
.anime-binge {
  font-family: "Outfit", sans-serif;
  color: var(--textColor);
}
.button-blue {
  background: #106580;
}
.nav-link {
  font-family: "Avenir LT Std", sans-serif;
  color: var(--textColor);
  font-size: 14px;
  letter-spacing: 0.05em;
}
.home-display {
  max-width: 50%;
}
.preview-image {
  background-image: url(../public/images/tanjiro_nezuko.jpg);
}
