@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;400;500&display=swap");
@import url("https://fonts.cdnfonts.com/css/avenir-lt-std");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;1,100&family=Outfit:wght@100;400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mainColor: #000000;
  --maintColorLight: #343434;
  --secondaryColor: #0083c4;
  --textColor: #ffffff;
}
.font-outfit {
  font-family: "Outfit", sans-serif;
}
.button-blue {
  background: #106580;
}
.nav-link {
  font-family: "Montserrat", sans-serif;
  color: var(--textColor);
}
.preview-image {
  background: url("/public/images/kny/kny_1.jpg") center center/cover no-repeat;
}
.preview-trending {
  background: url("/public/images/aot/aot_1.jpg") center center/cover;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.modal-transition {
  transition: ease 300ms;
}
